/*Global*/
html
{
    .roboto-thin {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
      
      .roboto-light {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .roboto-regular {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .roboto-medium {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .roboto-bold {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .roboto-black {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      
      .roboto-thin-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: italic;
      }
      
      .roboto-light-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: italic;
      }
      
      .roboto-regular-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .roboto-medium-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .roboto-bold-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
      
      .roboto-black-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: italic;
      }    
}

/*Navigation menu styling*/
.nav_menu_bar {
    background-color: #5BBA6F; /* Set background color */
}

.nav_menu_bar ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
    position: static;
}

.nav_menu_bar li {
    display: inline; /* Display list items horizontally */
}

.nav_menu_bar a {
    display: inline-block; /* Display links as blocks */
    padding: 10px 15px; /* Add padding to links */
    text-decoration: none; /* Remove underline from links */
    color: white; /* Set text color */
}

.nav_menu_bar a:hover {
    background-color: #137547; /* Change background color on hover */
}

.nav_bar_ico {
    width: 24px; /* Set width of icon */
    height: 24px; /* Set height of icon */
    vertical-align: middle; /* Align icon vertically */
}

/*Content Table*/
.content_table
{
  border: solid;
  border-style: groove;
  border-color: grey;
  background-color: #2A9134;
}

#profile_pic
{
  padding: 2%;
}

#content_table_data
{
  padding: 5%;
}